<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alexandria</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h3>Seja bem vindo a nossa Bilioteca Virtual</h3>
    <nav>
        <ul>
            <li><a href="inicio.html">Início</a></li>
            <li><a href="meus_materiais.html">Meus Materiais</a></li>
            <li><a href="area_do_usuario.html">Área do Usuário</a></li>
            <li><a href="configuracoes.html">Configurações</a></li>
            <li><a href="sobre_nos.html">Sobre Nós</a></li>
        </ul>
    </nav>
    <main>
        <section id="inicio">
            <h2>Página Inicial</h2>
            <p>Conteúdo da página inicial.</p>
        </section>

        <section id="meus_materiais">
            <h2>Página de meus materias</h2>
            <p>Materiais salvos.</p>
        </section>

        <section id="area_do_usuario">
            <h2>Área do Usuário</h2>
            <p>Informações do usuário.</p>
        </section>

        <section id="configuracoes">
            <h2>Configurações</h2>
            <p>Para alterações no sistema.</p>
        </section>

        <section id="sobre_nos">
            <h2>Sobre Nós</h2>
            <p>Informações dos criadores do sistema.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Alexandria: A Biblioteca Virtual</p>
    </footer>
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>